<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/clients/modify" method="POST">
                        <div class="form-group">
                            <label for="name">Nombre:</label>
                            <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{campaign.name}}" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="start">Comienzo de Campaña:</label>
                            <input type="month" id="start" name="start" value="{{campaign.start}}" placeholder="Comienzo de Campaña"> {{!--min="2018-03" value="2018-05"--}}
                        </div>

                        <div class="form-group">
                            <label for="end">Fin de Campaña:</label>
                            <input type="month" id="end" name="end" value="{{campaign.end}}" placeholder="Fin de Campaña">
                        </div>
                        <div class="form-group">
                            <label for="description">Descripción:</label>
                            <input type="text" class="form-control" name="description" placeholder="Descripción" value="{{campaign.name}}" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>